@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Charis";
    src: url(styles/XXXXXXXXXXXXXXXX);
    font-style: normal;
    font-weight: normal
    }
@font-face {
    font-family: "Charis";
    src: url(styles/XXXXXXXXXXXXXXXX);
    font-style: normal;
    font-weight: bold
    }
@font-face {
    font-family: "Charis";
    src: url(styles/XXXXXXXXXXXXXXXX);
    font-style: italic;
    font-weight: normal
    }
@font-face {
    font-family: "Charis";
    src: url(styles/XXXXXXXXXXXXXXXX);
    font-style: italic;
    font-weight: bold
    }
