.alpha {
    display: block;
    text-indent: 0.001em;
    margin: 0.3em 0 0.1em 4em
    }
.alpha_float {
    float: left;
    margin-left: -1.3em
    }
.alpha1 {
    display: block;
    text-indent: 0.001em;
    margin: 0.3em 0 0.1em 2.3em
    }
.alphas {
    display: block;
    text-indent: 0.001em;
    margin: 0.3em 0 0.1em 5.2em
    }
.author {
    display: block;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.001em;
    margin: 0.5em 0 0.1em
    }
.block {
    display: block;
    text-indent: 0.001em;
    margin: 0.8em 0 0.1em 2em
    }
.bull {
    float: left;
    margin-left: -1em
    }
.bulleti {
    display: block;
    text-indent: 0.001em;
    margin: 0.8em 0 0.1em 4em
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre2 {
    display: block;
    line-height: 1.2
    }
.calibre3 {
    height: auto;
    width: auto
    }
.calibre4 {
    text-decoration: none
    }
.calibre5 {
    font-weight: bold
    }
.calibre6 {
    display: block
    }
.calibre7 {
    font-style: italic
    }
.calibre8 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre9 {
    display: block
    }
.calibre10 {
    font-style: italic;
    line-height: 1.2
    }
.calibre11 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre12 {
    display: table-row;
    vertical-align: middle
    }
.calibre13 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre14 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre15 {
    height: 98%;
    width: auto
    }
.center {
    display: block;
    text-align: center;
    margin: 0.8em 0 0.1em
    }
.centerf {
    display: block;
    margin: 2em 0 0 6em
    }
.centerfa {
    display: block;
    margin: 0.2em 0 2em 6em
    }
.centerfas {
    display: block;
    margin: 0.2em 0 2em 1em
    }
.centerfs {
    display: block;
    margin: 1em 0 0 1em
    }
.centerfs1 {
    display: block;
    margin: 0
    }
.centers {
    display: block;
    text-align: center;
    margin: 2em 0
    }
.chap-num {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.001em;
    margin: 1em 0 0
    }
.chap-title {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.001em;
    margin: 1em 0 2em
    }
.chap-title1 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.001em;
    margin: 1em 0 2em
    }
.copy {
    display: block;
    text-align: center;
    text-indent: 0.001em;
    margin: 0 0 0.1em
    }
.copy1 {
    display: block;
    text-align: center;
    text-indent: 0.001em;
    margin: 3em 0 0.1em
    }
.copy2 {
    display: block;
    text-align: center;
    text-indent: 0.001em;
    margin: 1.5em 0 0.1em
    }
.coverpage {
    display: block;
    text-align: center
    }
.dedi {
    display: block;
    text-indent: 0.001em;
    margin: 13em 0 0.1em 8em
    }
.dropcap {
    float: left;
    font-size: 345%;
    font-weight: normal;
    margin-bottom: -0.3245em;
    margin-top: -0.36em
    }
.dropcap1 {
    float: left;
    font-size: 345%;
    font-weight: normal;
    margin-bottom: -0.3245em;
    margin-right: 0.09em;
    margin-top: -0.36em
    }
.footnote {
    display: block;
    font-size: 0.83333em;
    text-indent: 0.001em;
    margin: 0.8em 0 0.1em
    }
.h {
    display: block;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.001em;
    margin: 2.5em 0 0.1em
    }
.h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.001em;
    margin: 1em 0 2em
    }
.h2 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.001em;
    margin: 1em 0 0
    }
.h2a {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.001em;
    margin: 1em 0
    }
.h3s {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.001em;
    margin: 3em 0 0
    }
.halftitle {
    display: block;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.001em;
    margin: 1.5em 0 0.1em
    }
.indent {
    display: block;
    text-indent: 2em;
    margin: 0.8em 0 0.1em
    }
.line {
    padding-right: 5em;
    border-top: #838588 solid 0.3em;
    border-bottom: #838588 solid 0.3em
    }
.linee {
    padding-right: 11.5em;
    border-top: #838588 solid 0.3em;
    border-bottom: #838588 solid 0.3em
    }
.linees {
    border-top: #838588 solid 0.3em;
    border-bottom: #838588 solid 0.3em
    }
.lines {
    padding-right: 15em;
    border-top: #838588 solid 0.3em
    }
.linese {
    padding-right: 16em;
    border-top: #838588 solid 0.3em
    }
.lineses {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    border-top: #838588 solid 0.3em;
    border-bottom: #838588 solid 0.3em
    }
.noindent {
    display: block;
    text-indent: 0.001em;
    margin: 0.8em 0 0.1em
    }
.noindent-i {
    display: block;
    text-indent: -1.5em;
    margin: 0.8em 0 0.1em 3.5em
    }
.noindent1 {
    display: block;
    text-indent: 0.001em;
    margin: 2em 0 0.1em
    }
.noindenta {
    display: block;
    text-indent: 0.001em;
    margin: 0 0 0.1em
    }
.noindenti {
    display: block;
    margin: 0.8em 0 0.1em 2em
    }
.nounder {
    text-decoration: underline
    }
.num {
    float: left;
    margin-left: -1.5em
    }
.number {
    display: block;
    text-indent: 0.001em;
    margin: 0.8em 0 0.1em 2.5em
    }
.number1 {
    display: block;
    text-indent: 0.001em;
    margin: 0.3em 0 0.1em 2.5em
    }
.number2 {
    display: block;
    text-indent: 0.001em;
    margin: 0.3em 0 0.1em 1em
    }
.numberr {
    display: block;
    text-indent: 0.001em;
    margin: 2em 0 0.1em 2.5em
    }
.numbers {
    display: block;
    text-indent: 0.001em;
    margin: 0.3em 0 0.1em 3.8em
    }
.part-num {
    color: #77787B;
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.001em;
    margin: 0.5em 0 0.1em
    }
.pub {
    display: block;
    text-align: center;
    text-indent: 0.001em;
    margin: 3.5em 0 0.1em
    }
.side {
    border-bottom-color: #C6C8CA;
    border-right-color: #C6C8CA;
    border-top-color: #C6C8CA;
    display: block;
    margin-left: 10em;
    padding-left: 1em;
    border-left: #C6C8CA solid 0.5em
    }
.space {
    padding-left: 2em
    }
.space1 {
    padding-left: 1em
    }
.subtitle {
    color: #77787B;
    display: block;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0.001em;
    margin: 0.5em 0 0.1em
    }
.tab {
    display: block;
    margin: 1em 0
    }
.toc-chap {
    display: block;
    text-indent: 0.001em;
    margin: 1em 0 0.1em
    }
.toc-part {
    display: block;
    text-indent: 0.001em;
    margin: 1em 0 0.2em
    }
.toc-sub {
    display: block;
    text-indent: 0.001em;
    margin: 0.3em 0 0.1em 3.3em
    }
